body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    background-image:url("GREENLEAVES.png"); 
    background-repeat:space;
    background-position-x:center;
    background-size:25%;
    

}
h1{
    padding: 10px;
    text-align:center;
        border-style: dotted; 
   display:inline-block;
   margin-left:550px;
   margin-right:auto;
   width:fit-content;
}

.wrapimage {
    width:20%;
    height: auto;
    object-position:50%;
}
body {
  
}
.wrap{
    max-width:1280px;
    margin:auto;
    overflow:hidden;
    background:center;
    border-spacing:10px;
    position:relative;
    display:flex;
}
.col1,
.col2 {
    padding:10px;
    text-align:justify;
    width: calc(50% +250px);
}
p {
    padding: 5px;
    margin: 0 0 1em;
}
.col1:before,
.col2:before {
    float:right;
    width:1px;
    height:90px;
    content: " ";
}
.col2:before {
    float:left;
}
.img{
    float:right;
    clear:right;
    margin:20px 0 20px 20px;
    border-radius:50%;
    border:10px; 
       shape-outside:circle(50%);
}
.col2 img {
    float:left;
    margin:20px 20px 20px 0;
    clear:left;
}
.col1 .inner {
    margin-right:220px;
}
.col2 .inner {
    margin-left:220px;
}
.col2 {
    margin-left:-440px;
}
@media screen and (max-width:800px) {
    .wrap {
        display: block;
    }

    .col2:before {
        display: none;
    }

    .col1,
    .col2,
    .col1 .inner,
    .col2 .inner {
        width: auto;
        margin: 0;
    }

        .col2 .img {
            display: none;
        }

    .img {
        width: 50%;
        height: auto;
        min-width: 100px;
    }
}
@media screen and (max-width: 480px){
    .col1:before {
        display: none;
    }
}


.wraptext {
    width:90%;
    word-wrap:anywhere;
    text-align: center;  
}
.Grid {
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: forestgreen;
    padding: 30px;
}
.griditem {
    border: 10px solid #58b858;
    padding: 10px;
}
 #BirdsImg{
     width:100%;
     height: auto:
 }   
    
    